<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App1main</title>
    <link rel="stylesheet" href="../static/index.css">
</head>
<body>
    <div id="pdfbody">
        <div id="heading" class = "meta">
            <p class = "imp">Installation and configuration of Django Framework</p>
        </div>
        <div class="meta">EXP no: 8</div>
        <div class="meta">Date: </div>
        <div class="meta aim">Aim: To understand the <span class="imp">Django</span> Framework, Installation and creating application in Django Framework</div>
        <div class="contentbody">
            <p class="contenttitle imp meta">Django Framework</p>
            <p class="content meta">Django is an open source web application framework written in Python programming language, which allows quick developmetn of efficient web applications. It provides built-in features such as Django Admin Interface, default database SQLite3,etc.</p>
            <p class="meta">Django is based on MVC(Model-View-Controller)pattern</p>
            
            <p class="content meta"><span class="imp">Model</span> : It is the logical data structure behind the entire application and is represented by a database.<p>
            <p class="content meta"><span class="imp">View</span></p>
        </div>
    </div>
</body>
</html>