{% load static %}
{% load widget_tweaks %}

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="{% url 'register' %}" method = "POST">
        {% csrf_token %}
        Username {% render_field Rform.username %}<br>
        Email {% render_field Rform.email %}<br>
        Password {% render_field Rform.password %}<br>
        Firstname {% render_field Rform.first_name %}<br>
        Lastname {% render_field Rform.last_name %}<br>
        <button type = "submit">Register</button>
    </form>
    {%if messages %}
        {% for message in messages%}
        <strong>{{message}}</strong>
        {%endfor%}
    {%endif%}
</body>
</html>